.notFound {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

.notFound h2 {
    margin-bottom: auto 2vh;
    text-align: center;
    color: #31cf75
}